{{> html-top }}

{{> navbar }}

<div class="container">

    <header class="row">

    </header>

    <main class="row">
        {{> full-article }}
        {{> sidebar }}
    </main>

    <footer class="row">

    </footer>

</div>

{{> html-bottom }}
