{{> html-top }}

{{> navbar }}

<!-- TODO (1) Prevent ~~CSS~~ all static files from being templated -->
<!-- TODO (2) override container width as follows: -->
<!--
@media (min-width: 1200px)
.container {
    width: 970px;
}
-->

<div class="container">

    <header class="row">

    </header>

    <main class="row">
        {{> full-article }}
        {{> sidebar }}
    </main>

    <footer class="row">

    </footer>

</div>

{{> html-bottom }}
